- @title = "Active Studies"

%h3 Genetic and Environmental Risks for Inflammatory Bowel Disease Study

%h4
  %strong Description:
%p This study is looking at genes and environmental factors, such as diet and gut bacteria, that may be associated with developing Crohn’s disease or ulcerative colitis.
%h4
  %strong  Researcher:
%p Dr. Ramnik Xavier and Dr. Deanna Nguyen at the MGH Crohn’s and Colitis Center
%h4
  %strong  Who can participate?
%p This study aims to recruit at least two first-degree family members (you and a parent, sibling, or offspring aged 7 years and older) with inflammatory bowel disease and at least one family member without any autoimmune diseases.  
%h4
  %strong  What would I have to do?
%p
  Participants in this study will be asked to:
  %ul
    %li provide a saliva or blood sample
    %li provide an optional urine and stool sample  
    %li complete study related activities by phone, email, or postal service
%em
  If interested, 
  =link_to "click here.", "https://cgibd.med.unc.edu/ccfapartners/contact.php"

%br/
%hr/

%h3 OTIS Autoimmune Diseases In Pregnancy Study
%h4
  %strong Description:
%p The purpose of the study is to collect data on children born to mothers with inflammatory bowel disease.  Researchers will evaluate the risk of birth defects in children of patients exposed to certain medications during pregnancy. 
%h4
  %strong Researcher:
%p Dr. Christina Chambers of University of California San Diego (UCSD)
%h4
  %strong Who can participate?
%p Women diagnosed with Crohn’s disease or ulcerative colitis who are pregnant.  Must have been pregnant for less than 20 weeks.
%h4
  %strong What would I have to do?
%p If you choose to participate, you will undergo telephone interviews and provide medical records to researchers from the OTIS Registry. Children born to mothers who participate would be followed for up to 5 years for growth and development (with review of their medical records), including in-person examinations and testing in the first year and in the time period between 3.5 and 5 years.
%em
  If interested, 
  =link_to "click here.", "https://cgibd.med.unc.edu/ccfapartners/contact.php"

%br/
%hr/

%h3 Food And Crohn’s Exacerbation Study (FACES)
%h4
  %strong Description:
%p This research project is looking at the effect of different dietary patterns on the risk of relapse of Crohn’s Disease. 
%h4
  %strong Researcher:
%p Dr. James Lewis at the University of Pennsylvania
%h4
  %strong Who can participate?
%p Individuals with Crohn’s disease that is in remission. 
%h4
  %strong What would I have to do?
%p If you choose to participate, you will be asked to consume a minimum of two servings of red meat each week. You will also complete short online surveys about your symptoms, medications, and diet at specific times during the study.
%em
  If interested, 
  =link_to "click here.", "https://cgibd.med.unc.edu/ccfapartners/contact.php"

%br/
%hr/

%h3 Rare IBD Characteristics Study
%h4
  %strong Description:
%p This study will look at how genes may be linked to the development of rare IBD characteristics: eye inflammation, arthritis of the spine, colon cancer, and skin ulceration. 
%h4
  %strong Researcher:
%p
  Dr. Balfour Sartor from UNC School of Medicine 
  Dr. Dermot McGovern from Cedars-Sinai Medical Center
%h4
  %strong Who can participate?
%p Individuals with inflammatory bowel diseases who have ever been diagnosed with eye inflammation (uveitis, scleritis, episcleritis), arthritis of the spine (ankylosing spondylitis), colon cancer, or skin ulceration (pyoderma gangrenosum) can participate.
%h4
  %strong What would I have to do?
%p Fill out a form with your doctor’s contact information and provide a small saliva sample  via U.S. mail. You will be mailed the supplies you need to provide this sample.
%em
  If interested, 
  =link_to "click here.", "https://cgibd.med.unc.edu/ccfapartners/contact.php"

%br/
%hr/

%strong 
  = link_to "External Research Studies", "http://www.ccfa.org/research/participate-in-research/find-studies-and-clinical-trials/"
