%form#check-in{action: check_in_path}
  - @question_flow.all_questions.each do |question|
    = render partial: "health_check_in_helper", :locals => { name: @question_flow.name_en, question: question, answer_session: @answer_session, question_flow: @question_flow, current: (question == @answer_session.next_question) }
    -#=======
    -#    = render partial: "health_check_in_helper", :locals => { question: question, current: (question == @answer_session.next_question) }
    -#>>>>>>> unc-fi
  #completion_message{class: ("hidden" unless @answer_session.completed?) }
    .alert.alert-info
      %p Thank you. You are all Checked in!
      -#%p.small You can come back and complete another health report tomorrow.
      %p.small= link_to "Health changed already? Check in again.", health_data_path(new_check_in: true)
