- @title = "My Dashboard"
- @active_sub_nav = :my_dashboard
.panel.panel-default
  .panel-heading
    %h4.panel-title My Dashboard (Coming Soon)
  .panel-body
    %em (Soon you’ll be able to view up-to-date information about your health. This functionality is being built, but not quite ready. Check back later!)
