- @title = "My Dashboard"
- @active_sub_nav = :my_dashboard
.panel.panel-default
  .panel-heading
    %h4.panel-title My Dashboard (Coming Soon)
  .panel-body
    %em (Soon you’ll be able to track your health over time. This feature is currently under development. Check back later!)
