- @title = "About CCFA"

%h2= @title
%hr/

%p 
  The Crohn's & Colitis Foundation of America's mission is to cure Crohn's disease and ulcerative colitis, and to improve the quality of life of children and adults affected by these diseases. CCFA ranks third among leading health non-profits in the percentage of expense devoted to research toward cures. More than 82 cents of every dollar CCFA spends goes to mission-critical programs including research, patient and professional education, and patient support programs. CCFA consistently meets the standards of organizations that monitor charities, including the Better Business Bureau's Wise Giving Alliance 
  =link_to "(give.org)","http://give.org", target: "_blank"
  and the American Institute of Philanthropy
  =link_to "(charitywatch.org).", "http://charitywatch.org", target: "_blank"
  For more information, visit
  =link_to "ccfa.org", "http://ccfa.org", target: "_blank"

