- @title = "About CCFA Partners"

%h2= @title
%hr/

%p Thank you for your interest in learning more about CCFA Partners.  The CCFA Partners study is a long-term study of adults with inflammatory bowel diseases (IBD).  More than 13,000 individuals with IBD have already enrolled, and we anticipate an additional 15,000 will join by the end  of next year.

%p The goal of CCFA Partners is for patients and scientists to work together to better understand IBD. With your help, we want to discover how things you do every day affect your disease activity. For example, we’re interested in learning how different treatment therapies and different health behaviors, such as diet and exercise, affect IBD. We hope that understanding how these behaviors affect your disease will lead to improved quality of life for all individuals with IBD.

%h3 Here’s what makes CCFA Partners special:

%ol{style: "font-weight: bold; font-size: 110%"}
  %li 
    %span.h4
      %strong Patient-centered:
    %span{style: "font-weight:normal; font-size: 90%"}
      We place great emphasis on making all aspects of the CCFA Partners study patient-centered. “Patient-centered research” means that patients and the IBD research community partner with each other and work as a team. We believe patient input is critical to the research process. We even have patients on our leadership and governance committees, who are responsible for making all important study-related decisions.

  %li
    %span.h4
      %strong Thousands of members:
    %span{style: "font-weight:normal; font-size: 90%"}
      CCFA Partners is a large study with thousands of members. Because this study is so big, we will be able to answer research questions that are difficult for smaller studies to answer. We will also be able to understand how different treatments or behaviors affect specific groups of people, which will make it possible to individualize treatment decisions in the future.

  %li
    %span.h4
      %strong Long-term:
    %span{style: "font-weight:normal; font-size: 90%"}
      Crohn’s disease and ulcerative colitis are lifelong conditions. The most important questions to patients relate to how their disease and treatments affect their health over a long period of time. To answer these questions, members are asked to complete surveys twice a year for many years. This will help researchers understand Crohn’s and colitis better than ever before.  Think of it as a movie - rather than a snapshot or one-time picture - of their disease. 

.text-center
  =image_tag "filmstrip.jpg",{:class => "img-responsive center-block"}

%h3 Here’s how you can help:

%p
  If you are 18 years of age or older and have been diagnosed with Crohn’s disease or ulcerative colitis, you’re invited to participate in CCFA Partners. (If you’re younger than 18, you’re invited to participate in the
  = link_to "CCFA Partners Kids & Teens", "https://cgibd.med.unc.edu/ccfapartners/"
  )

%p If you choose to become a CCFA Partners member, we’ll ask you to complete a baseline survey to learn more about your health. You will never have to answer survey questions you don’t feel comfortable answering – you can just skip them.  We will also ask you to connect your mobile health applications (such as FitBit, JawBone, etc) to learn more about your life.  You will be able to choose what, if any, mobile health applications you connect to the network.

%p After completing a baseline survey, we will contact you a few times per year by email and ask you to update your health information. We’ll also ask you to answer a short survey when you log-in to the network website. We may at times notify you about other studies you qualify for. You don’t have to join these studies – it’s completely up to you.  

%h3 Additional website features for members:

%p As a member, you will be able to use other great features on the CCFA Partners website. These easy-to-use features will help you find ways to better understand your own disease and get support from others.

.row
  .col-sm-1
    =image_tag "about_health_tracker.jpg"
  .col-sm-11
    %span.h4
      %strong Health tracker:
    Easily track your health and see how different health behaviors influence your disease. For example, you could view a graph that shows how your sleep habits influence your disease activity. You could then discuss these findings with your doctor to develop a better treatment plan.
%br/
.row
  .col-sm-1
    =image_tag "about_research_democracy.jpg"
  .col-sm-11
    %span.h4
      %strong Research prioritization:
    Suggest and vote on research questions that you’d like answered. The most popular questions (those with the most votes) will be prioritized by  the network, and researchers will team up with interested patients to design and implement these studies.
%br/
.row
  .col-sm-1
    =image_tag "about_social_network.jpg"
  .col-sm-11
    %span.h4
      %strong Social network:
    Create a social profile and find other participants who live near you. Customize your profile to tell your story and share your experience.  It is completely up to you how much information you share on your profile, if any.


%h3 When you’re ready, let’s get started.

%p
  Completing the confidential baseline survey should only take about 20-30 minutes.  The survey is implemented by the CCFA Data Management Center at the University of North Carolina at Chapel Hill (UNC). Your information will be kept completely confidential on UNC’s secure servers. For details about how we will protect your information, please see our Privacy Policy and Data Security Measures
  =link_to "here.", privacy_policy_document_path

%p
  CCFA Partners is a research effort, not a fund-raising effort. 
  %strong We will never ask you for monetary contributions.

%p
  We believe this project has great potential to improve the lives of individuals with IBD.  If you are a patient with IBD, join us in this movement to understand IBD better than ever before. Please don’t underestimate your contributions. You really can make a difference. 
  - if !current_user
    If you are ready to join, 
    =link_to "click here.",new_user_registration_path
    
