%h2 Contact Us

%h3 Feel free to reach out with questions about the study.
%br/

%ol
  %li
    -#For questions related to technical issues, check out our
    -#=link_to "technical support page.", "https://cgibd.med.unc.edu/ccfapartners/help/techhelp.php"
    For questions related to technical issues, contact us at
    =mail_to "support@ccfapartners.org", "support@ccfapartners.org."
    %br/
    %br/

  %li 
    For questions about CCFA Partners and/or your surveys, contact us at 
    =mail_to "info@ccfapartners.org", "info@ccfapartners.org."
    %br/
    %br/

  %li
    For questions about IBD, contact CCFA's IBD Help Center at
    =mail_to "info@ccfa.org", "info@ccfa.org"
    or by phone at 888-694-8872.
    %br/
    %br/

%p Please allow at least one day for us to respond. Thank you for your input! 
