%h2 Contact Us

%h3 Feel free to reach out with questions. We’re here to help!
%br/

%ol
  %li
    For questions related to 
    %strong technical issues, 
    contact the Technical Team at 
    =mail_to "support@ccfapartners.org", "support@ccfapartners.org."
    %br/
    %br/
  %li
    For 
    %strong questions about CCFA Partners
    (e.g., surveys, research process), contact the Research Team at
    =mail_to "info@ccfapartners.org" , "info@ccfapartners.org."
    %br/
    %br/
  %li
    For
    %strong questions about IBD,
    contact an IBD information specialist at CCFA’s IBD Help Center at
    =mail_to "infopartners@ccfa.org", "infopartners@ccfa.org."
    %br/
    %br/

%p Please give us at least one business day to respond. Thank you!