- @title = "FAQ (Frequently Asked Questions)"

%h2= @title
%hr/

%h3.question What is CCFA Partners?

.answer
  %p 
    CCFA Partners is a long-term online study of individuals with Crohn’s disease and ulcerative colitis. CCFA Partners is what’s called a patient-powered research network, which means patients and researchers in our network 
    %strong work together
    to find  better treatments for inflammatory bowel diseases (IBD).

  %p Patients contribute by providing information about their health and experience living with IBD and by suggesting and voting on research questions they’d like answered. We even have patients who serve on our governance committees. Researchers contribute by prioritizing research questions proposed by patients and by updating participants about how their information is used and what’s discovered.

  %p Working together, patients and researchers in our network hope to learn how different health behaviors and treatment therapies affect IBD. We hope having a better understanding of these relationships will lead to treatments that are more effective and can be individualized.

%h3.question What do I have to do to participate?

.answer
  %p Participation is simple. We’ll ask you to:

  %ol
    %li Register and complete a brief online survey about your condition and treatment, quality of life, and health behaviors (such as sleep habits)
    %li Connect your mobile health applications (such as Fitbit), if you would like to share that data
    %li 
      Fill out an online survey 
      %strong every six months
      to tell us how you’re doing
    %li Complete a short survey (only 3-4 questions) each time you login to the network website
    %li Let us know if you want to participate in other smaller studies that we will tell you about from time to time

  %p
    To register and start your first survey, 
    =link_to "click here", new_user_registration_path

%h3.question What is PCORI?

.answer
  %p 
    PCORI stands for Patient Centered Outcomes Research Institute. PCORI is a nonprofit organization that funds research projects across the country committed to Patient-Centered Outcomes Research (see definition below). The CCFA Partners study is in part funded by PCORI. Find more information about PCORI 
    =link_to "here.", "http://pcori.org/about-us"


%h3.question What is Patient-Centered Outcomes Research?

.answer
  %p
    “Patient-Centered Outcomes Research” is a term used by
    =link_to "PCORI", "http://pcori.org/about-us"
    to describe research focused on answering the questions that are most important to patients. It involves patients, caregivers, and clinicians, along with researchers, throughout the research process.  The CCFA Partners study proudly participates in Patient-Centered Outcomes Research. 

%h3.question How much does it cost?

.answer
  %p Participation is free. There is no cost to you. 

%h3.question Can I opt out?

.answer
  %p 
    Once you join the partnership, you can opt out at any time bycontacting us at 
    =mail_to "info@ccfapartners.org"

%h3.question I have friends or relatives with IBD. Can they join?

.answer
  %p 
    Participation is open to anyone 18 years of age or older who has been diagnosed with Crohn’s disease or ulcerative colitis. Interested IBD patients can go to our website -- 
    =link_to "www.ccfapartners.org", "http://www.ccfapartners.org"
    \-- and join. If under age 18, please visit 
    =link_to "CCFA Partners Kids & Teens study" , "https://cgibd.med.unc.edu/ccfapeds"

%h3.question Do I have to answer all the questions?

.answer
  %p The questions are generally straightforward and about your disease characteristics, but if any questions make you uncomfortable or if you don't want to answer a question, you can skip it.

%h3.question How long does the survey take?

.answer
  %p The initial survey should take about 20 minutes. The length will depend, in part, on your disease type and treatment. Once you start a survey it will remain open for 24 hours, so you can come back later to complete it.

%h3.question Is my information safe?

.answer
  %p We will work hard to protect the information you provide to CCFA Partners. Your information will always be stored in a very secure computer server at the University of North Carolina. We will not give your contact information to anyone without your permission. Identifiers, such as your name and address, will not be used in research and will be kept securely. Reports about the survey will not identify you or any other participant --- we will just provide summary data.

  %p 
    For more information about how we protect your information, please see our 
    =link_to "Privacy Policy and Data Security Measures.", privacy_policy_document_path 

%h3.question How will my information be used?

.answer
  %p The information you provide through surveys and by connecting your mobile health applications (such as FitBit, JawBone, etc.) will be studied by CCFA researchers. Researchers will use this information to learn more about treatment effects, health behaviors, and quality of life for individuals with IBD. The information you contribute ultimately will help in reaching the goal of more rapid research progress, better treatments, and the cures we need.

%h3.answer What are the risks?

.answer
  %p
    The only possible risk in participating in CCFA Partners is loss of privacy. However, the information you give CCFA Partners is stored in a safe and secure location at the University of North Carolina. There are safeguards and passwords in place to prevent loss of privacy. For more information, please see our 
    =link_to "Privacy Policy and Data Security Measures.", privacy_policy_document_path 

%h3.question What do I get for participating?

.answer
  %p You do not receive monetary compensation for participating in CCFA Partners. You will benefit from use of website features, such as the health tracker and social network, that we hope will help you better understand your disease and find support.

%h3.question How do I join CCFA Partners?

.answer
  %p
    It’s easy to join. You will need to provide your name, email address, age, and disease type to register. We will send you an email confirmation to login. After you login, you will be asked to read and sign an electronic consent form and complete your initial survey, which should take about 20 minutes. After you’ve completed the survey, you will be able to use all of the other website features, such as the Health Tracker. Please follow this link to
    =link_to "JOIN.", new_user_registration_path

%h3.question Do I need my password to take Partners surveys?

.answer
  %p You will not need your password if you complete your survey by clicking on the link we will email you when it’s time to take a survey. Your password is included in these emails and will automatically log you into your survey. However, if you complete your survey by logging into CCFAPartners.org directly, you will need to know the email and password you used to sign up. 

%h3.question What if I lost my email with the link to my survey?

.answer
  %p 
    You can always complete your available surveys by visiting CCFAPartners.org.  We would also be happy to send you another email with a link to your survey, if that's more convenient.  To request that your survey link be sent again, please contact us at
    =mail_to "info@ccfapartners.org"
    \.  Please include the email address you have registered with CCFA Partners in your request.

%h3.question What if I have more than one email address?

.answer
  %p You can give us alternate email addresses, but only one address can serve as your primary (registered) address. By giving us your alternate addresses, we can make sure you don't get multiple copies of our email reminders; they will always go only to your primary address.

%h3.question I received more than one email to join CCFA Partners. Why?

.answer
  %p
    Each email address on file with CCFA received an invitation, so if you had more than one email address with CCFA, you received multiple invitations. To prevent this, please provide Partners with your alternate email addresses so we will know you are the same person. Contact us at
    =mail_to "info@ccfapartners.org"
    \.

%h3.question What should I do if I have a technical problem?

.answer
  %p 
    If you have technical problems, please
    =link_to "click here.","https://cgibd.med.unc.edu/ccfapartners/help/techhelp.php"
    For all other technical problems, contact us at
    =mail_to "support@ccfapartners.org","support@ccfapartners.org."

%h3.question What if I have more questions?

.answer
  %p 
    Feel free to reach out with any additional questions. For contact information,
    =link_to "click here.", contact_path
