- @title = "CCFA Partners Governance and Leadership"

%h2= @title
%hr/

%p Our governance structure is described here and reflects shared leadership among patients, researchers, and the CCFA. Click on each committee name to see a list of current members.


.panel-group#accordion
  .panel
    .panel-heading
      %h3.panel-title
        %a{"data-toggle" => "collapse", "data-parent" => "accordion", :href => "#collapse1"}
          Research Team
    .panel-collapse.collapse#collapse1
      .panel-body
        %p
          Role: Responsible for day-to-day study activities. The Research Team develops and implements surveys, provides advice about associated studies, analyzes data, prepares manuscripts for publications, and presents research at scientific meetings.  

        %ul
          %li
            =link_to "Millie Long", content_path(page: "bio/millie_long")
          %li
            =link_to "Michael Kappelman", content_path(page: "bio/mike_kappelman")
          %li 
            =link_to "Robert Sandler", content_path(page: "bio/robert_sandler")
          %li
            =link_to "Christopher Martin", content_path(page: "bio/chris_martin")
          %li
            =link_to "Elizabeth Jaeger", content_path(page: "bio/beth_jaeger")
          %li
            =link_to "Joseph Galanko", content_path(page: "bio/joe_galanko")
          %li
            =link_to "Amber Robb", content_path(page: "bio/amber_robb")
          %li
            =link_to "Balfour Sartor", content_path(page: "bio/balfour_sartor")
          %li
            =link_to "Sean Ahrens", content_path(page: "bio/sean_ahrens")
          %li
            =link_to "Kristen Anton", content_path(page: "bio/kristen_anton")
          %li
            =link_to "Wenli Chen", content_path(page: "bio/wenli_chen")
          %li Arlene Chung
          %li Marshall Clark
          %li Sean Kelly
          %li Kelly Myers
          %li
            =link_to "Angela Dobes", content_path(page: "bio/angela_dobes")
          %li
            =link_to "Tom Caruso", content_path(page: "bio/tom_caruso")

  .panel.panel-default
    .panel-heading
      %h3.panel-title
        %a{"data-toggle" => "collapse", "data-parent" => "accordion", :href => "#collapse2"}
          Oversight Committee
    .panel-collapse.collapse#collapse2
      .panel-body
        %p 
          Role: Responsible for ensuring that the CCFA Partners Research Initiative is carried out in accordance with the CCFA’s mission.  
          %br/
          * Members in the Oversight Committee are selected by the CCFA.

        %ul
          %li Caren Heller
          %li Jim Lewis
          %li Scott Snapper

  .panel.panel-default
    .panel-heading
      %h3.panel-title
        %a{"data-toggle" => "collapse", "data-parent" => "accordion", :href => "#collapse3"}
          Patient Governance Committee
    .panel-collapse.collapse#collapse3
      .panel-body
        %p 
          Role: Key responsibilities include: 1) defining the mission of the network, 2) helping to identify what research questions are most important to answer, 3) working with other governance committees, to develop policies regarding use of and sharing of network information, 4) advising the network on the development of plans to facilitate communications among network participants, and 5) receiving and acting upon input from a large number of network participants.
          %br/
          *Members of the Patient Governance Committee are IBD patients.  

        %ul
          %li
            =link_to "Jessica Burris", content_path(page: "bio/jessica_burris")
          %li
            =link_to "Andy Garb", content_path(page: "bio/andy_garb")
          %li
            =link_to "Susan Johnson", content_path(page: "bio/susan_johnson")
          %li
            =link_to "Brian Price", content_path(page: "bio/brian_price")
          %li
            =link_to "Nick Uzl", content_path(page: "bio/nick_uzl")

  .panel.panel-default
    .panel-heading
      %h3.panel-title
        %a{"data-toggle" => "collapse", "data-parent" => "accordion", :href => "#collapse4"}
          Steering Committee
    .panel-collapse.collapse#collapse4
      .panel-body
        %p
          Role: Responsible for providing advice to the Research Team regarding overall research directions. 
          %br/
          *Members of Steering Committee include patients, clinicians, and members of CCFA.

        %ul
          %li Peter Higgins
          %li Rob McCabe
          %li
            =link_to "Balfour Sartor", content_path(page: "bio/balfour_sartor")
          %li
            =link_to "Sean Ahrens", content_path(page: "bio/sean_ahrens")
          %li Andy Garb
          %li
            =link_to "Nick Uzl", content_path(page: "bio/nick_uzl")

  .panel.panel-default
    .panel-heading
      %h3.panel-title
        %a{"data-toggle" => "collapse", "data-parent" => "accordion", :href => "#collapse5"}
          Project Selection Committee
    .panel-collapse.collapse#collapse5
      .panel-body
        %p 
          Role: Responsible for the evaluation of research projects, which includes deciding if a project should be approved, denied, or revised and resubmitted. Proposals are reviewed by one member of the Research Team, and two additional members of the Scientific committee and one patient member. 
          %br/
          *Members of the Project Selection Committee include patients, scientists, and CCFA representatives.

        %ul
          %li Laura Raffles
          %li Neera Gupta
          %li Ray Cross
          %li Ashwin Ananthakrishnan
          %li
            =link_to "Michael Kappelman", content_path(page: "bio/mike_kappelman")
          %li
            =link_to "Robert Sandler", content_path(page: "bio/robert_sandler")
          %li
            =link_to "Millie Long", content_path(page: "bio/millie_long")
          %li
            =link_to "Susan Johnson", content_path(page: "bio/susan_johnson")
          %li
            =link_to "Brian Price", content_path(page: "bio/brian_price")

  .panel.panel-default
    .panel-heading
      %h3.panel-title
        %a{"data-toggle" => "collapse", "data-parent" => "accordion", :href => "#collapse6"}
          Ethics Committee
    .panel-collapse.collapse#collapse6
      .panel-body
        %p
          Role: Responsible for providing input and guidance on project study selection in areas where there may be perceived conflict of interest. Ethics committee also provide input on policies regarding use and sharing of network data.

%br/
%br/

