- @title = "Patient Governance Committee (PGC)"

%h2= @title
%hr/
%p Click on names to view more information about each member of the PGC.

%ul
  %li
    =link_to "Jessica Burris", content_path(page: "bio/jessica_burris")
  %li
    =link_to "Andy Garb", content_path(page: "bio/andy_garb")
  %li
    =link_to "Susan Johnson", content_path(page: "bio/susan_johnson")
  %li
    =link_to "Brian Price", content_path(page: "bio/brian_price")
  %li
    =link_to "Nick Uzl", content_path(page: "bio/nick_uzl")