- @title = "Patient Governance Committee (PGC)"

%h2= @title
%hr/


.row
  .col-md-4
    =image_tag "people/jessica_burris.jpg", :class => "img-responsive img-thumbnail"

  .col-md-8
    %h3 Jessica Burris
    %p
      %em “By tracking my health with Partners PPRN, I have better control over my Crohn’s Disease than ever before. Plus, I feel great about supporting innovative research that really listens to patients and looks for new ways to find a cure for IBD.” -Jessica"

%br/

.well
  .row
    .col-md-8
      %h3 Andy Garb
      %p
        %em “As a patient, I’m proud to have an impact on what IBD research the scientists actually do. I know that my personal experiences can help produce even better research outcomes.” - Andy

    .col-md-4
      =image_tag "people/andrew_garb.jpg", :class => "img-responsive img-thumbnail"


.row
  .col-md-4
    =image_tag "people/susan_johnson.jpg", :class => "img-responsive img-thumbnail"

  .col-md-8
    %h3 Susan Johnson
    %p
      %em “I am excited that not only do I have a tool in the PPRN to help me track my disease activity and general health, but that my data could contribute to studies that may develop new therapies or get closer to finding a cure for IBD.” - Sue"

%br/

.well
  .row
    .col-md-8
      %h3 Brian Price
      %p
        %em “Patient centered research is an incredible advance in the way patients participate in research. Beyond contributing to valuable data that helps doctors improve therapy, we have an opportunity to discover how variables in our personal lives affect our own health and can help guide the focus of future research.” - Brian

    .col-md-4
      =image_tag "people/brian_price.jpg", :class => "img-responsive img-thumbnail"


.row
  .col-md-4
    =image_tag "people/nick_uzl.jpg", :class => "img-responsive img-thumbnail"

  .col-md-8
    %h3 Nick Uzl
    %p
      %em “This new research model really is a game changer. For the first time, patients are involved at every step of the way; from overseeing the research process, to being participants in studies. By being involved in this new research paradigm, I am empowered, and really believe I am helping shape the future of IBD.” -Nick"