- @title = "CCFA Partners Research Team"

%h2= @title
%hr/
%p Here’s a list of members on the CCFA Partners scientific team. Click on any of the names below to view their biography.

%ul
  %li
    =link_to "Millie Long", content_path(page: "bio/millie_long")
  %li
    =link_to "Michael Kappelman", content_path(page: "bio/mike_kappelman")
  %li 
    =link_to "Robert Sandler", content_path(page: "bio/robert_sandler")
  %li
    =link_to "Christopher Martin", content_path(page: "bio/chris_martin")
  %li
    =link_to "Elizabeth Jaeger", content_path(page: "bio/beth_jaeger")
  %li
    =link_to "Joseph Galanko", content_path(page: "bio/joe_galanko")
  %li
    =link_to "Amber Robb", content_path(page: "bio/amber_robb")
  %li
    =link_to "Balfour Sartor", content_path(page: "bio/balfour_sartor")
  %li
    =link_to "Angela Dobes", content_path(page: "bio/angela_dobes")