- @title = "Support"

%h2= @title
%hr/

%p Resources found here are provided by Crohn’s & Colitis Foundation of America (CCFA). You can read a short description of each resource. Click on the links below to learn more or get involved. 

.row
  .col-sm-8
    %a{href: "http://www.ccfacommunity.org/", :target => "_blank"}
      %h3
        CCFA Community
        %small
          %i.fa.fa-external-link
    %p Join CCFA’s free online community to get the support you need in managing your condition. Participate in discussion boards, share or read personal stories, ask a question to our panel of experts, and much more.

    %a{href: "http://www.ccfa.org/chapters/", :target => "_blank"}
      %h3
        Find a Local CCFA Chapter
        %small
          %i.fa.fa-external-link
    %p CCFA has more than 40 staffed and volunteer chapters and affiliates in the United States.  CCFA chapters offer patient education programs and events, local support groups, help fund research through fundraising events, and raise awareness in their communities.  Become a part of your local community – call your CCFA chapter today.

    %a{href: "http://www.ccfacommunity.org/ChatSeries.aspx", :target => "_blank"}
      %h3
        CCFA Online Support Group
        %small
          %i.fa.fa-external-link
    %p CCFA’s online support group connects people with Crohn’s disease and ulcerative colitis who face similar challenges. This four-week series consists of weekly chat sessions that cover specific IBD-related topics and allows participants to share their views. Each 90-minute chat session is guided by a CCFA moderator and each week builds on the previous week as participants get to know each other.

  .col-sm-4
    %br/
    %br/
    %br/
    =image_tag "resources_page.jpg", :class => "img-responsive img-thumbnail"