- @title = "Information About IBD"

%h2= @title
%hr/
%p Resources found here are provided by Crohn’s & Colitis Foundation of America (CCFA). You can read a short description of each resource. Click on the links below to learn more or get involved. 

.row
  .col-sm-8
    %a{href: "http://www.ccfa.org/what-are-crohns-and-colitis/", :target => "_blank"}
      %h3
        Disease Information
        %small
          %i.fa.fa-external-link
    %p Here you can learn the basics about Crohn’s disease and ulcerative colitis, including symptoms, diagnosis, and treatment options.

    %a{href: "http://www.ccfa.org/living-with-crohns-colitis/talk-to-a-specialist/", :target => "_blank"}
      %h3
        IBD Help Center
        %small
          %i.fa.fa-external-link
    %p Whether you’re looking for a specific resource, referrals to other organizations, or answers to questions you can’t find anywhere else, you can speak with helpful information specialists at CCFA’s Irwin M. and Suzanne R. Rosenthal IBD Resource Center (IBD Help Center), Monday thru Friday, 9:00 am to 5:00 pm EST.  

    %a{href: "http://www.ccfa.org/resources/webcasts.html", :target => "_blank"}
      %h3
        CCFA Webcasts
        %small
          %i.fa.fa-external-link
    %p A webcast is a topic-specific online program designed to educate viewers on aspects of IBD. CCFA’s webcasts cover a variety of topics: the latest research breakthroughs, how to manage pain, nutrition and IBD, and more! 

    %a{href: "http://www.ccfa.org/science-and-professionals/programs-materials/patient-brochures/", :target => "_blank"}
      %h3
        CCFA Brochures/Factsheets
        %small
          %i.fa.fa-external-link
    %p CCFA publishes free educational brochures and fact sheets that provide current information and treatment options about this condition.  Topics include diet and nutrition, managing flares, sexuality, treatments, and complications. CCFA also offer publications for special audiences, such as newly diagnosed patients, kids and teens, parents, teachers, and older adults.

    %br/

  .col-sm-4
    %br/
    %br/
    %br/
    =image_tag "resources_page.jpg", :class => "img-responsive img-thumbnail"
