- @title = "CCFA Partners Scientific Team"

%h2= @title
%hr/

.row
  .col-md-4
    =image_tag "people/robert_sandler.jpg", :class => "img-responsive img-thumbnail"

  .col-md-8
    %h3 Robert S. Sandler
    %p
      %em “I am very excited to be involved with CCFA Partners because it is completely focused on patient reported outcomes. For the first time, we have a study that is exclusively asking the questions that people with IBD care about – diet, sleep, fatigue, quality of life. The answers to these questions will allow us to provide better care.” - Robert

    %p
    Robert S. Sandler, MD, MPH is the lead investigator for CCFA Partners. He is the Nina C. and John T. Sessions Distinguished Professor of Medicine at the University of North Carolina. He has a longstanding research interest in IBD. He directs the Data Management Center for CCFA's Clinical Alliance and is a former member of CCFA's National Scientific Advisory Committee. Dr. Sandler is the former President of the American Gastroenterological Association.

%br/

.well
  .row
    .col-md-8
      %h3 Michael D. Kappelman
      %p
        %em “Our vision is to create a true partnership between IBD patients and researchers—shared governance and leadership, a collaborative process of setting the research agenda, and spreading research findings to both the patient and scientific communities. “ -Mike 

      %p
      Michael D. Kappelman, MD, MPH is an Asssociate Professor of Pediatrics and Epidemiology at the University of North Carolina, Dr. Kappelman is a pediatric gastroenterologist with both clinical and research interests in inflammatory bowel diseases. Dr. Kappelman's research focuses on using real-world data to evaluate the effectiveness and safety of IBD treatments.  Dr. Kappelman is also the co-Chair of the CCFA Professional Committee, and a member of the CCFA National Scientific Advisory Council.   

    .col-md-4
      =image_tag "people/mike_kappelman.jpg", :class => "img-responsive img-thumbnail"


.row
  .col-md-4
    =image_tag "people/millie_long.jpg", :class => "img-responsive img-thumbnail"

  .col-md-8
    %h3 Millie D. Long
    %p
      %em “The patient powered research network is absolutely integral to both clinical care and clinical research. This network allows us to partner with patients and determine what is most important to them in managing their inflammatory bowel disease. Also, the results of studies conducted by the researchers are directly returned to the patients involved. The network also provides tools for patients to follow changes in their symptoms over time. This unique partnership will greatly advance the care of inflammatory bowel disease patients and allow for important discoveries on improving quality of life. It is a true pleasure to be part of this collaboration!.” - Millie 

    %p
    Millie D Long, MD, MPH is a co-investigator for CCFA Partners. She is Assistant Professor of Medicine at the University of North Carolina in the Division of Gastroenterology and Hepatology where she sees adult patients with IBD. She is additionally board certified in preventive medicine and has published research articles on the prevention of complications in patients with IBD. She is a prior recipient of a junior faculty career development award from CCFA. In addition to her work with CCFA Partners, she currently serves on the CCFA Professional Education committee.

%br/

.well
  .row
    .col-md-8
      %h3 Christopher Martin
      %p
        %em “The rapid growth of CCFA Partners and now the launch of the PPRN present a unique and powerful opportunity to shift the locus of IBD research to patients, so that their voices and their issues play a key role in developing better clinical care and responsiveness. I am honored to have the chance to participate in this endeavor, and enthusiastically support it's continued growth and success.” - Chris

      %p
      Christopher Martin, MSPH is the Director of Epidemiology and Analysis for the Data Management Center at the University of North Carolina at Chapel Hill. Also an assistant professor of Medicine in the Division of Gastroenterology and Hepatology at UNC, he brings his training in epidemiology and expertise in informatics to the planning, execution and analysis of research on inflammatory bowel diseases and other chronic digestive conditions. He has special expertise in the conduct of multicenter studies, particularly studies using the Internet to collect high quality data.

    .col-md-4
      =image_tag "people/chris_martin.jpg", :class => "img-responsive img-thumbnail"

.row
  .col-md-4
    =image_tag "people/joe_galanko.jpg", :class => "img-responsive img-thumbnail"

  .col-md-8
    %h3 Joseph Galenko
    %p
    Joseph A. Galanko, PhD is a biostatistician for CCFA Partners. Currently Dr. Galanko is an Assistant Professor of Medicine at the University of North Carolina, whose research involves applied statistics in medical settings, case-control studies, regression modeling, survival analysis and gene-environment interaction analyses. He is the Co-Director of the Biostatistics Core for the Center for Gastrointestinal Biology and Disease, and the biostatistician for the Nutrition Obesity Research Center.

%br/

.well
  .row
    .col-md-8
      %h3 Balfour Sartor
      %p
      R. Balfour Sartor, M.D., Distinguished Professor of Medicine, Microbiology and Immunology; Director of the UNC Multidisciplinary IBD Center; and a CCFA Chief Medical Advisor, is a board certified gastroenterologist specializing in IBD and a basic scientist, running a large NIH and CCFA-funded laboratory. Research interests: pathogenesis of Crohn’s disease and ulcerative colitis, and translating basic science knowledge to improve IBD diagnosis and treatment. Dr. Sartor investigates resident intestinal bacteria in immune mediated intestinal inflammation, has published over 300 research articles and reviews, and edited five books. He directs a large gnotobiotic unit and uses germ-free mice to investigate mechanisms by which resident microbiota initiate, perpetuate and protect against chronic intestinal inflammation. He currently directs the Broad Medical Research Program at CCFA after previously serving as the CCFA’s Chief Medical Advisor, National Board Member, Chairman of the National Scientific Advisory Committee, Chairman of the Senior Research and Training Award Review Committee and President of the North Carolina Chapter.

    .col-md-4
      =image_tag "people/balfour_sartor.jpg", :class => "img-responsive img-thumbnail"


.row
  .col-md-4
    =image_tag "people/beth_jaeger.jpg", :class => "img_responsive img-thumbnail"

  .col-md-8
    %h3 Elizabeth L. Jaeger

    %p
    Elizabeth L. Jaeger is the Project Director for CCFA Partners. In this capacity, she manages the ongoing development and implementation of the CCFA Partners project and ensures that guidelines for proper research are followed. She has many years of experience in project management at the University of North Carolina including such diverse studies as Genetic by context influence on trajectories of adolescent aggression and Enhancing Rural Online Learning.

%br/

.well
  .row
    .col-md-8
      %h3 Amber Robb
      
      %p
        %em “It’s great to be part of a research project that truly aims to find answers to the questions patients care about most. In CCFA Partners, patients and researchers work together every step of the way to ensure the project is headed in a direction that will give patients the answers they need to improve their lives.” - Amber

      %p
      Amber Robb, MPH, RD is the Project Coordinator for CCFA Partners. She provides administrative support for study activities associated with the development and implementation of the CCFA Partners project. She is a Registered Dietitian and provides a nutrition perspective for the project as needed. She has more than four years of clinical research experience to include a research fellowship at the National Institutes of Health.

    .col-md-4
      =image_tag "people/amber_robb.jpg", :class => "img-responsive img-thumbnail"
