- @title = "CCFA Partners Technical Team"

%h2= @title
%hr/
%p Here’s a list of members on the CCFA Partners technical team. Click on any of the names below to view their biography.

%ul
  %li
    =link_to "Sean Ahrens", content_path(page: "bio/sean_ahrens")
  %li
    =link_to "Kristen Anton", content_path(page: "bio/kristen_anton")
  %li
    =link_to "Wenli Chen", content_path(page: "bio/wenli_chen")
  %li Arlene Chung
  %li Marshall Clark
  %li Sean Kelly
  %li Kelly Myers
