%br/

.panel.panel-success
  .panel-heading
    %h4.panel-title Have a Question About IBD?
  .panel-body
    %p CCFA's IBD Help Center has IBD information specialists who are here to answer your questions.
    %p.text-center
      = mail_to "IBDHelp@ccfa.org", "<i class='fa-envelope-o fa'></i> Ask a Question<br />About IBD".html_safe, {subject: "Ask your question to the IBD Help Center here.", class: "btn btn-success"}
