%br/

.panel.panel-success
  .panel-heading
    %h4.panel-title Want to Join the Network?
  .panel-body
    %p Do you have #{Figaro.env.website_condition}?  Join other patients and the IBD research community to help us all learn more about IBD together.
    %a.btn.btn-block.btn-primary{:href => main_app.new_user_registration_path} Join
    .small.text-center
      %br/
      Already a Member?
      = link_to "Sign in.", main_app.new_user_session_path
      %br/
      Are you a researcher?
      = link_to "Click here.", "https://cgibd.med.unc.edu/ccfapartners/forresearchers.php"


