

.row
  .col-md-12
    = render partial: "/shared/avatar_mosaic"

.row

  .col-sm-12
    .text-center.ccfa-blue
      %h2 IBD Patients and Researchers:  A Revolutionary Partnership

    %br/
.row
  .col-md-6

    %p
      %big
        %strong.ccfa-blue
          CCFA Partners is an innovative network where patients and researchers work together.
      %big
        The goal:  Find better treatments for inflammatory bowel diseases (IBD) by looking beyond the doctor’s office.
    %p
      %big
        As a CCFA Partners member, you’ll participate in groundbreaking research and have access to tracking tools to help manage your disease more effectively – all at no cost to you.  Help us learn how IBD affects your life in order to make it better.



    - if !current_user
      .text-center
        %a{:href => new_user_registration_path}
          .btn.btn-lg.btn-primary
            %span{:style => "padding: 0 40px 0 40px;"}
              Join

        %p
          Already a Member?
          = link_to "Sign in.", new_user_session_path
          %br/
          Are you a researcher?
          = link_to "Click Here.", "https://cgibd.med.unc.edu/ccfapartners/forresearchers.php"
          %br/
          Under age 18?  Join
          = link_to "CCFA Partners Kids & Teens.", "https://cgibd.med.unc.edu/ccfapeds/"

  .col-md-6
    .embed-responsive.embed-responsive-16by9
      -#%iframe.embed-responsive-item{"src" => "//player.vimeo.com/video/110910837"}
      %iframe.embed-responsive-item{"src" => "//player.vimeo.com/video/116086894?title=0&badge=0&byline=0&portrait=0"}

%br/
%br/
%br/
.row
  .col-md-4
    %h3.text-center.ccfa-blue Patient-Centered Network
    .row
      .col-sm-4{:style => "padding-right: 0px"}
        =image_tag "people/nick_uzl.jpg", :class => "img-responsive img-thumbnail"
      .col-sm-8
        %p
          %em
            "This new research model really is a game-changer. For the first time, patients are involved at every step of the way -- from overseeing the research process to being participants in studies. By being involved, I am empowered, and I really believe I am helping to shape the future of IBD."
          %br/
          \- Nick, patient

  .col-md-4
    %h3.text-center.ccfa-blue Tools to Manage Your IBD
    .row
      .col-sm-4{:style => "padding-right: 0px"}
        =image_tag "people/jessica_burris.jpg", :class => "img-responsive img-thumbnail"
      .col-sm-8
        %p
          %em
            “By tracking my health with Partners PPRN, I have better control over my Crohn’s Disease than ever before. Plus, I feel great about supporting innovative research that really listens to patients and looks for new ways to find a cure for IBD.”
          %br/
          \- Jessica, patient

  .col-md-4
    %h3.text-center.ccfa-blue Your Questions Answered
    .row
      .col-sm-4{:style => "padding-right: 0px"}
        =image_tag "people/robert_sandler.jpg", :class => "img-responsive img-thumbnail"
      .col-sm-8
        %p
          %em
            "I am excited to be involved with CCFA Partners because it is completely focused on patient-reported outcomes. For the first time, we have a study that is asking the questions that patients care about: diet, sleep, fatigue, quality of life. The answers to these questions will allow us to provide better care."

          %br/
          \- Dr. Robert Sandler, researcher


%br/
