

.row
  .col-md-12
    = render partial: "/shared/avatar_mosaic"



.req All Page Content and Imagery



.row
  .col-md-8.col-md-offset-2
    .text-center
      %h3 IBD Patients and Researchers:  A Revolutionary Partnership
    %br/
    %p CCFA Partners is an innovative network where patients and researchers work together to find better treatments for inflammatory bowel diseases (IBD) by looking beyond the doctor’s office.  If you’re a patient with Crohn’s disease or ulcerative colitis, managing your condition can affect the way you live your life, from the food you eat to where and when you socialize with friends.  With easy-to-use tracking tools, you’ll gain better control over your own health while shaping and supporting groundbreaking research that uses new ways to look for a cure.  Help us learn how IBD affects your life in order to make it better. 
    %br/

    <iframe src="//player.vimeo.com/video/110910837" width="620" height="350" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/110910837">CCFA PPRN Test Video</a> from <a href="http://vimeo.com/crohnology">Crohnology</a> on <a href="https://vimeo.com">Vimeo</a>.</p>


%br/
%br/

.row
  .col-md-4.col-md-offset-4.text-center
    %a{:href => new_user_registration_path}
      .btn.btn-lg.btn-primary.btn-block Get Started
    %br/
    %p
      Already a Member?
      = link_to "Sign in", new_user_session_path
    %p
      Under age 18?  Join
      = link_to "CCFA Partners Kids and Teens", "https://cgibd.med.unc.edu/ccfapeds."
.row
  .col-xs-12.text-center
    %h3 
      Learn more about the network
      = link_to "here", content_path(page: "about_partners")


%br/
.row
  .col-sm-10
    %h3 Out Network is Patient-Centered
    %p
      %em “This new research model really is a game changer. For the first time, patients are involved at every step of the way; from overseeing the research process, to being participants in studies. By being involved in this new research paradigm, I am empowered, and really believe I am helping shape the future of IBD.” -Nick, patient

  .col-sm-2
    =image_tag "people/nick_uzl.jpg", :class => "img-responsive img-thumbnail"

%br/
.row
  .col-sm-2
    =image_tag "people/jessica_burris.jpg", :class => "img-responsive img-thumbnail"

  .col-sm-10
    %h3 With Tools to Manage Your IBD
    %p
      %em “By tracking my health with Partners PPRN, I have better control over my Crohn’s Disease than ever before. Plus, I feel great about supporting innovative research that really listens to patients and looks for new ways to find a cure for IBD.” -Jessica, patient

%br/
.row
  .col-sm-10
    %h3 And Research That Answers Questions You Care About
    %p
      %em “I am very excited to be involved with CCFA Partners because it is completely focused on patient reported outcomes. For the first time, we have a study that is exclusively asking the questions that people with IBD care about – diet, sleep, fatigue, quality of life. The answers to these questions will allow us to provide better care.” - Robert, researcher

  .col-sm-2
    =image_tag "people/robert_sandler.jpg", :class => "img-responsive img-thumbnail"
    
%br/
.row
  .col-xs-12.text-center
    %em connect with us
.row
  .col-xs-12.text-center
    =link_to "http://www.facebook.com/ccfafb" do
      =image_tag "facebook.png", size: "32"
    =link_to "http://www.twitter.com/ccfa" do
      =image_tag "twitter.png", size: "32"
    =link_to "http://www.youtube.com/user/CCFA" do
      =image_tag "youtube.png", size: "32"
    =link_to "http://www.pinterest.com/ccfa" do
      =image_tag "pinterest.png", size: "32"
