a {
	color: #0091c3
}
.btn-primary {
	background-color: #0091c3
}
.panel-primary > .panel-heading {
	background-color: #0091c3
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
	background-color: #0091c3
}