- @title = "Amber Robb"

%h2= @title

.pull-right
  =image_tag "people/amber_robb.jpg", :class => "img-responsive img-thumbnail"

%p
  %em “It’s great to be part of a research project that truly aims to find answers to the questions patients care about most. In CCFA Partners, patients and researchers work together every step of the way to ensure the project is headed in a direction that will give patients the answers they need to improve their lives.” - Amber

%p
  Amber Robb, MPH, RD is the Project Coordinator for CCFA Partners. She provides administrative support for study activities associated with the development and implementation of the CCFA Partners project. She is a Registered Dietitian and provides a nutrition perspective for the project as needed. She has more than four years of clinical research experience to include a research fellowship at the National Institutes of Health.