- @title = "Andy Garb"

%h2= @title

.pull-right
  =image_tag "people/andy_garb.jpg", :class => "img-responsive img-thumbnail"

%p
  %em “As a patient, I’m proud to have an impact on what IBD research the scientists actually do. I know that my personal experiences can help produce even better research outcomes.” - Andy 

%p
  Andrew S. Garb received his J.D. from Harvard Law School in 1967. Following a teaching/ research assistantship at Yale Law School, he received an LL.M. degree from U.S.C. Law School. He is a partner in the law firm of Loeb & Loeb LLP, based in Los Angeles. Mr. Garb was the managing partner of the firm from 1986 through 1992. He is a Fellow of the American College of Trust and Estate Counsel and has published and lectured extensively in the field of trust and estate law.

%p Mr. Garb is one of three trustees of The Gladstone Institutes, an independent medical research organization affiliated with U.C.S.F. Medical School. Mr. Garb is also a director of The Roddenberry Foundation, devoted to supporting efforts to expand new frontiers for the benefit of humanity. He is also a director of the Kane Educational & Research Foundation and a Director of Whittier Trust Co.

%p He is former Chair and Co-founder of Success Through the Arts Foundation. He is former President of the Board of The Crohns & Colitis Foundation, Greater Los Angeles Chapter, and was a lay member of the Crohns & Colitis Foundation’s National Grants Review Committee.