- @title = "Angela Dobes"

%h2= @title

.pull-right
  =image_tag "people/angela_dobes.jpg", :class => "img-responsive img-thumbnail"

%p
  %em “CCFA Partners is transforming the role of the patient and setting a stage for a new approach to IBD research. I am honored to be a part of the CCFA Partners’ family.” -Angela

%p
  Angela Dobes, MPH is the IBD Plexus Director at the Crohn’s and Colitis Foundation. Angela has worked in the clinical technology and health care industry for the past ten years overseeing initiatives focused on accelerating the delivery of medicines to patients safely. Angela has also conducted research in the fields of care delivery and patient engagement. 