- @title = "Arlene Chung"

%h2= @title

.pull-right
  =image_tag "people/arlene_chung.jpg", :class => "img-responsive img-thumbnail"

%p
  %em “CCFA’s Patient Powered Research Network (PPRN) is an amazing opportunity to radically change the way we conduct research to improve the lives of patients with IBD by bringing the patient’s voice and experience to the forefront. I’m excited that we can partner with patients to have them pose research questions on the topics that matter the most to them, and about having patients contribute their own data from smartphones and sensors/devices to accelerate discoveries about what lifestyle factors and treatments work best.” – Dr. Arlene Chung"

%p
  Arlene E. Chung, MD, MHA, MMCi is part of the CCFA Partners Patient-Powered Research Network technical and research team.  Dr. Chung is an Assistant Professor of Medicine and Pediatrics at the University of North Carolina at Chapel Hill, and is board certified in clinical informatics, pediatrics, and internal medicine.  She is a clinical informatics and patient-centered outcomes researcher with research interests in designing, developing, and evaluating patient-centered health information technologies to improve patient engagement, patient-centered care, and health outcomes.  Her research focuses on patient-reported outcomes (PROs), wearable technologies, and patient portals.  Dr. Chung is core faculty in the Bioinformatics Core of the UNC CTSA (NC TraCS Institute).

  Twitter handle: @arlenechung
