- @title = "Arlene Chung"

%h2= @title

.pull-right
  =image_tag "people/arlene_chung.jpg", :class => "img-responsive img-thumbnail"

%p
  %em “We put patients at the center of our research process, because patients understand their disease better than anyone. Patients are active participants in all parts of research, including being able to identify and prioritize research topics. We believe this will help us all find better cures more easily and quickly.” - Wenli Chen, MS, MA 

%p
  Arlene E. Chung, MD, MHA, MMCi is part of the CCFA Partners Patient-Powered Research Network technical and research team.  Dr. Chung is an Assistant Professor of Medicine and Pediatrics at the University of North Carolina at Chapel Hill, and is board certified in clinical informatics, pediatrics, and internal medicine.  She is a clinical informatics and patient-centered outcomes researcher with research interests in designing, developing, and evaluating patient-centered health information technologies to improve patient engagement, patient-centered care, and health outcomes.  Her research focuses on patient-reported outcomes (PROs), wearable technologies, and patient portals.  Dr. Chung is core faculty in the Bioinformatics Core of the UNC CTSA (NC TraCS Institute).

  Twitter handle: @arlenechung
