- @title = "Balfour Sartor"

%h2= @title

.pull-right
  =image_tag "people/balfour_sartor.jpg", :class => "img-responsive img-thumbnail"

%p
  R. Balfour Sartor, M.D., Distinguished Professor of Medicine, Microbiology and Immunology; Director of the UNC Multidisciplinary IBD Center; and a CCFA Chief Medical Advisor, is a board certified gastroenterologist specializing in IBD and a basic scientist, running a large NIH and CCFA-funded laboratory. Research interests: pathogenesis of Crohn’s disease and ulcerative colitis, and translating basic science knowledge to improve IBD diagnosis and treatment. Dr. Sartor investigates resident intestinal bacteria in immune mediated intestinal inflammation, has published over 300 research articles and reviews, and edited five books. He directs a large gnotobiotic unit and uses germ-free mice to investigate mechanisms by which resident microbiota initiate, perpetuate and protect against chronic intestinal inflammation. He currently directs the Broad Medical Research Program at CCFA after previously serving as the CCFA’s Chief Medical Advisor, National Board Member, Chairman of the National Scientific Advisory Committee, Chairman of the Senior Research and Training Award Review Committee and President of the North Carolina Chapter.
