- @title = "Elizabeth Jaeger"

%h2= @title

.pull-right
  =image_tag "people/beth_jaeger.jpg", :class => "img-responsive img-thumbnail"

%p
  %em “A network powered by IBD patients is a dynamic new direction for CCFA Partners.  Our goal has always been for patients and scientists to work together to better understand IBD, but the creation of the patient powered network, which allows those with IBD a much more active part in the research, understanding, and managing of their disease, is very exciting.  We are on the right track!” -Beth

%p
  Elizabeth L. Jaeger is the Project Director for CCFA Partners. In this capacity, she manages the ongoing development and implementation of the CCFA Partners project and ensures that guidelines for proper research are followed. She has many years of experience in project management at the University of North Carolina including such diverse studies as Genetic by context influence on trajectories of adolescent aggression and Enhancing Rural Online Learning.
