- @title = "Brian Price"

%h2= @title

.pull-right
  =image_tag "people/brian_price.jpg", :class => "img-responsive img-thumbnail"

%p
  %em “Patient centered research is an incredible advance in the way patients participate in research. Beyond contributing to valuable data that helps doctors improve therapy, we have an opportunity to discover how variables in our personal lives affect our own health and can help guide the focus of future research.” - Brian 

%p Disease type: Crohn's disease, diagnosed at age 15 in 2002.

%p IBD patient advocacy history: as an IBD patient I have been a study participant in IBD studies completed at UCSF. I volunteered as a camp counselor with Camp Gut Busters, an annual summer camp for children with Crohn's disease and Ulcerative Colitis in California, for 7 years. I'm an active participant in Crohnology.com, where I join an online community of individuals with IBD, tracking our disease and discussing common concerns as a community of patients. I have also promoted education about Crohn's disease, providing presentations and sharing my personal history of Crohn's disease with colleagues in the pharmacy profession. As a new research partner with CCFA, I work with the Patient Governance Committee and Project Selection Committee to align the development of the IBD PPRN and research studies with interests and concerns of fellow IBD patients. 

%p Personal Background: I took an interest in pharmaceutics after my diagnosis, wanting to better understand the science and chemistry behind medicine. For the past 10 years, I have worked in a combination of community pharmacies, hospital inpatient pharmacies, and clinics. I love connecting with patients and helping patients understand their illness and the medical resources available to manage medical illness. I'm currently in my final year at Pacific University of Oregon, School of Pharmacy, where I am completing my Doctorate of Pharmacy.