- @title = "Christopher Martin"

%h2= @title

.pull-right
  =image_tag "people/chris_martin.jpg", :class => "img-responsive img-thumbnail"

%p
  %em  “The rapid growth of CCFA Partners and now the launch of the PPRN present a unique and powerful opportunity to shift the locus of IBD research to patients, so that their voices and their issues play a key role in developing better clinical care and responsiveness. I am honored to have the chance to participate in this endeavor, and enthusiastically support it's continued growth and success.” - Chris

%p
  Christopher Martin, MSPH is the Director of Epidemiology and Analysis for the Data Management Center at the University of North Carolina at Chapel Hill. Also an assistant professor of Medicine in the Division of Gastroenterology and Hepatology at UNC, he brings his training in epidemiology and expertise in informatics to the planning, execution and analysis of research on inflammatory bowel diseases and other chronic digestive conditions. He has special expertise in the conduct of multicenter studies, particularly studies using the Internet to collect high quality data.