- @title = "Jessica Burris"

%h2= @title

.pull-right
  =image_tag "people/jessica_burris.jpg", :class => "img-responsive img-thumbnail"

%p
  %em “By tracking my health with Partners PPRN, I have better control over my Crohn’s Disease than ever before. Plus, I feel great about supporting innovative research that really listens to patients and looks for new ways to find a cure for IBD.” -Jessica

%p
  Jessica Burris has longstanding interests in patient empowerment in clinical settings, patient engagement in the research process, and medical ethics. She was elected to the CCFA Partners PPRN by users of Crohnology, a patient-centered information-sharing social network for IBD patients.  She also serves on PCORnet’s Patient Council and PCORnet’s Ethics and Regulatory Task Force.
%p
  Jessica was diagnosed with ulcerative colitis in 2002, underwent a total colectomy in 2006, and was diagnosed with Crohn’s disease in 2013. She was a long-time volunteer for the Crohn’s and Colitis Foundation of America, most recently serving as a facilitator for a support group for adults under age 45.
%p
  Jessica is currently pursuing her medical degree at Vanderbilt University School of Medicine.  She previously worked for the Program in Medical Ethics at the University of California, San Francisco and for the Greenwall Foundation, an organization dedicated to the advancement of cutting-edge bioethics research.