- @title = "Joseph Galanko"

%h2= @title

.pull-right
  =image_tag "people/joe_galanko.jpg", :class => "img-responsive img-thumbnail"

%p
  Joseph A. Galanko, PhD is a biostatistician for CCFA Partners. Currently Dr. Galanko is an Assistant Professor of Medicine at the University of North Carolina, whose research involves applied statistics in medical settings, case-control studies, regression modeling, survival analysis and gene-environment interaction analyses. He is the Co-Director of the Biostatistics Core for the Center for Gastrointestinal Biology and Disease, and the biostatistician for the Nutrition Obesity Research Center.