- @title = "Kristen Anton"

%h2= @title

.pull-right
  =image_tag "people/kristen_anton.jpg", :class => "img-responsive img-thumbnail"

%p
  Kristen Anton, MS is the Director of BioInformatics for the CCFA Partners Informatics Center at the University of North Carolina. She is involved with many efforts - local, national and international - concerning data standards, data capture, data sharing and management for biomedical studies. Kristen's groups at UNC and the Geisel School of Medicine at Dartmouth collaborate on more than 45 research registries, clinical trials and prevention studies. Kristen has a personal interest in computational biology and molecular epidemiology. Her teaching includes lectures on database theory, biological databases and computational biology.
