- @title = "Michael D. Kappelman"

%h2= @title

.pull-right
  =image_tag "people/mike_kappelman.jpg", :class => "img-responsive img-thumbnail"

%p
  %em “Our vision is to create a true partnership between IBD patients and researchers—shared governance and leadership, a collaborative process of setting the research agenda, and spreading research findings to both the patient and scientific communities.“ - Dr. Kappelman

%p
  Michael D. Kappelman, MD, MPH is an Asssociate Professor of Pediatrics and Epidemiology at the University of North Carolina, Dr. Kappelman is a pediatric gastroenterologist with both clinical and research interests in inflammatory bowel diseases. Dr. Kappelman's research focuses on using real-world data to evaluate the effectiveness and safety of IBD treatments.  Dr. Kappelman is also the co-Chair of the CCFA Professional Committee, and a member of the CCFA National Scientific Advisory Council.