- @title = "Millie D. Long"

%h2= @title

.pull-right
  =image_tag "people/millie_long.jpg", :class => "img-responsive img-thumbnail"

%p
  %em “The patient powered research network is absolutely integral to both clinical care and clinical research. This network allows us to partner with patients and determine what is most important to them in managing their inflammatory bowel disease. Also, the results of studies conducted by the researchers are directly returned to the patients involved. The network also provides tools for patients to follow changes in their symptoms over time. This unique partnership will greatly advance the care of inflammatory bowel disease patients and allow for important discoveries on improving quality of life. It is a true pleasure to be part of this collaboration!.” - Dr. Long

%p
  Millie D Long, MD, MPH is a co-investigator for CCFA Partners. She is Assistant Professor of Medicine at the University of North Carolina in the Division of Gastroenterology and Hepatology where she sees adult patients with IBD. She is additionally board certified in preventive medicine and has published research articles on the prevention of complications in patients with IBD. She is a prior recipient of a junior faculty career development award from CCFA. In addition to her work with CCFA Partners, she currently serves on the CCFA Professional Education committee.