- @title = "Nick Uzl"

%h2= @title

.pull-right
  =image_tag "people/nick_uzl.jpg", :class => "img-responsive img-thumbnail"

%p
  %em “This new research model really is a game changer. For the first time, patients are involved at every step of the way; from overseeing the research process, to being participants in studies. By being involved in this new research paradigm, I am empowered, and really believe I am helping shape the future of IBD.” -Nick