- @title = "Nick Uzl"

%h2= @title

.pull-right
  =image_tag "people/nick_uzl.jpg", :class => "img-responsive img-thumbnail"

%p
  %em “This new research model really is a game changer. For the first time, patients are involved at every step of the way; from overseeing the research process, to being participants in studies. By being involved in this new research paradigm, I am empowered, and really believe I am helping shape the future of IBD.” -Nick

%p
  Nick is a Crohn’s Disease patient, having been diagnosed while he was in college, about 7 years ago. Handling an IBD diagnosis is incredibly challenging at any age, and Nick found the IBD patient community to be a great resource for information, support, and empowerment. Shortly after being diagnosed, Nick became involved in the CCFA, and is the former chairman of the CCFA National Council of College Leaders, an alum of Team Challenge, and CCFA Day on the Hill. Nick has also served as a Patient Representative on the FDA Gastrointestinal Drugs Advisory Committee in the Center for Drug Evaluation and Research. He currently serves as a member of the Patient Governance Committee for the CCFA Patient Powered Research Network in the Patient-Centered Outcomes Research Institute. Nick is a graduate of Kent State University, and Ohio State University Mortiz College of Law.