- @title = "Robert S. Sandler"

%h2= @title

.pull-right
  =image_tag "people/robert_sandler.jpg", :class => "img-responsive img-thumbnail"

%p
  %em “I am very excited to be involved with CCFA Partners because it is completely focused on patient reported outcomes. For the first time, we have a study that is exclusively asking the questions that people with IBD care about – diet, sleep, fatigue, quality of life. The answers to these questions will allow us to provide better care.” - Dr. Sandler

%p
  Robert S. Sandler, MD, MPH is the lead investigator for CCFA Partners. He is the Nina C. and John T. Sessions Distinguished Professor of Medicine at the University of North Carolina. He has a longstanding research interest in IBD. He directs the Data Management Center for CCFA's Clinical Alliance and is a former member of CCFA's National Scientific Advisory Committee. Dr. Sandler is the former President of the American Gastroenterological Association.