- @title = "Sean Ahrens"

%h2= @title

.pull-right
  =image_tag "people/sean_ahrens.jpg", :class => "img-responsive img-thumbnail"

%p
  %em “The real life experience of patients trying treatments and diets outside the doctor’s office is the most underutilized source of answers for the cause and cure of this disease."

%p
  Sean was diagnosed with Crohn’s at the age of 12. In 2011, he started Crohnology.com to connect patients with Crohn’s & Ulcerative Colitis so they could share what treatments, diets, and alternatives work for each other. Sean believes that the intestinal micro-biome is the center stage for the cause and cure to Crohn’s, and that diet can effect this micro-biome. He has experienced huge improvements in his own Crohn’s Disease while and after he has eaten diets free of grains and refined sugars. Through a PCORI grant, Sean has been working with researchers who run CCFA Partners to redesign the website, and to connect Crohnology and Partners.
  