- @title = "Sean Kelly"

%h2= @title

.pull-right
  =image_tag "people/sean_kelly.jpg", :class => "img-responsive img-thumbnail"

%p
  %em "Too long the traditional model of medicine worked one way, with doctors measuring patient vitals and prescribing treatments based on those metrics. By enabling two-way communication and collaboration, patients become active participants in their own outcomes. Patients share data not just with their doctors, but with other patients. Health-care providers have a larger research base for development of treatments. And ultimately, we all end up healthier. I'm excited to be a part of that." - Sean

%p
  Sean Kelly (BS Computer Science, BS Technical Communication) is an independent consultant providing software systems for diverse communities spanning cancer bioinformatics, patient-centered networks, planetary sciences, astronomy, astrophysics, television and movie production, and more. He's worked with NASA, the National Oceanic and Atmospheric Administration, and a collection of private concerns. He has over 20 years of software development, architecture, and systems analysis experience. And he changes his hair color monthly.
  