- @title = "Susan Johnson"

%h2= @title

.pull-right
  =image_tag "people/susan_johnson.jpg", :class => "img-responsive img-thumbnail"

%p
  %em “I am excited that not only do I have a tool in the PPRN to help me track my disease activity and general health, but that my data could contribute to studies that may develop new therapies or get closer to finding a cure for IBD.” - Sue

%p
  Susan Johnson serves on the Patient Governance Committee of the Crohn’s & Colitis Foundation of America (CCFA) Patient Powered Research Network. She has been active with CCFA since 1991, shortly after she was diagnosed with Crohn’s disease. On a local level, Susan served as President of the Northern Connecticut chapter of CCFA and now serves on the board of the CT chapter. On a National level, she served 6 years on the CCFA Board of Trustees and is a member of the CCFA Partners Executive Committee. She has served as a stakeholder reviewer for CCFA, CCFA Partners and for the Peer Reviewed Medical Research Program funded by the U.S. Department of Defense, contributing the voice of patients in the review of proposals seeking funding for Inflammatory Bowel Disease research. Susan has a BA from the University of Connecticut and an MBA from the University of Hartford and has worked in the insurance industry for most of her career.