- @title = "Tom Caruso"

%h2= @title

.pull-right
  =image_tag "people/tom_caruso.jpg", :class => "img-responsive img-thumbnail"

%p
  %em "The CCFA Partners PPRN in combination with the PCORnet, the National Patient-Centered Clinical Research Network will transform research of inflammatory bowel diseases making it not only easier to obtain the necessary information for research, but also allowing new studies that were never considered possible before, and I'm thrilled to see so many people with this disease supporting this effort by becoming members of the PPRN.” - Tom

%p
  Thomas P. Caruso, Ph.D., MBA, PMP is the technical project manager for CCFA Partners, and health informatics liaison research associate in the School of Information and Library Science at UNC Chapel Hill.  Dr. Caruso has been developing clinical research information systems for six years, most recently managing Clinical Trial Database (CTDB) support by a team at NIH for Technical Frontiers, Inc.  In partnership with RTI, Dr. Caruso has also built a Self-Generated Health Information Exchange (SGHIx) to allow individuals to aggregate, analyze and share their personal health data.  In addition he has Project Management Professional certification.