- @title = "Wenli Chen"

%h2= @title

.pull-right
  =image_tag "people/wenli_chen.jpg", :class => "img-responsive img-thumbnail"

%p
  %em “We put patients at the center of our research process, because patients understand their disease better than anyone. Patients are active participants in all parts of research, including being able to identify and prioritize research topics. We believe this will help us all find better cures more easily and quickly.” - Wenli Chen, MS, MA 

%p
  Wenli Chen, MS, MA is systems analyst and developer for CCFA Partners. Working with CCFA Partners investigators to translate information needs into technical deliverables, she ensures that project investigators are able to collect valuable patient information and conduct the best analyses on that data. She has 20 years of system development and data analysis experience with broad and advanced technologies, with an eye toward developing robust, secure, and user- friendly systems.