%h2 Welcome to CCFA Partners Research Democracy!
 
%p
  In this area you will be able to:
  %ul
    %li Participate in the Research Democracy
    %li View current and completed studies
    %li View a summary of your research contributions
 
%p You are an active participant in <strong>CCFA Partners Research Democracy!</strong>  Have you ever had a question about IBD that you wish science could answer?  Tell us what research is important to you.  Here, you can submit a research question to the community, cast your votes, and discuss research questions proposed by other members.  Please make your research question as specific as possible.  Other members will vote on your research question, and research questions with the most votes will be prioritized by network researchers.  If your research question is chosen for a study, you’ll earn the Citizen Scientist badge.
 
%p You are allowed to vote for your own proposed research questions if you want.  However, you can only vote for a total of five research questions.  If you have already cast your five votes and a question you like even more is proposed, you can change your votes at any time to reflect your preferences.
 
%p In addition to suggesting and voting on research questions, you contribute to our research by filling out 6-month surveys and by updating your health information each time you login.  View your personal health data contributions to research under the <strong>My Contributions</strong> section. <strong>Health Check-ins</strong> include any time you login and tell us how you’re doing on that day.  You can tell us how you’re doing by visiting the My Health Data section, where you can update your medications and answer a few questions about your health as often as you like.  The <strong>Research Access Log</strong> allows you to view a list of network researchers who have ever accessed your de-identified data* and for what purpose.  This is a great place to see how your research contributions are helping answer important research questions related to IBD!
 
%p * “De-identified data” refers to data that does not include information that could identify you as an individual, such as your name and address.