%h4 Welcome to CCFA Partners Research Page!
 
%p
  In this area you will be able to:
  %ul
    %li Participate in our research prioritization process
    %li View current and completed studies
    %li View a summary of your research contributions
%p
  You are an active participant in 
  %strong CCFA Partners research prioritization process!
  Have you ever had a question about IBD that you wish science could answer? Tell us what research is important to you. Here, you can submit a research question to the community, cast your votes, and discuss research questions proposed by other members. Please make your research question as specific as possible. Other members will vote on your research question, and research questions with the most votes will be prioritized by network researchers.
%p
  You are allowed to vote for your own proposed research questions if you want. However,
  %u you can only vote for a total of five research questions.
  If you have already cast your five votes and a question you like even more is proposed, you can change your votes at any time to reflect your preferences.
%p 
  In addition to suggesting and voting on research questions, you contribute to our research by filling out 6-month surveys and by updating your health information each time you login. View your personal health data contributions to research under the
  %strong My Contributions
  tab. 
%p
  The
  %strong Data Access Log
  allows you to view a list of network researchers who have ever accessed your de-identified data* and for what purpose. This is a great place to see how your research contributions are helping answer important research questions related to IBD!
%p
  *
  %u “De-identified data”
  refers to data that does not include information that could identify you as an individual, such as your name and address.
