- @title = "Here’s a summary of research findings."
- @active_sub_nav = :active_studies


%ul.nav.nav-pills{role: "tablist"}
  %li.active
    %a{"data-toggle" => "tab", href: "#ccfa_partners_studies", role: "tab" } CCFA Partners Studies
  %li
    %a{"data-toggle" => "tab", href: "#affiliated_studies", role: "tab" } Affiliated Studies
%br/

.tab-content
  #ccfa_partners_studies.tab-pane.active

    %h4
      The Effects of Antidepressant Medication and Social Support on Disease Progression in IBD Patients
    %p
      %strong Description:
    %p
      This study will look at how social support and antidepressant use may affect inflammatory bowel disease symptoms.
    %p
      %strong Researcher:
    %p
      Dr. Ann M. Kerlin from Luther Rice University
    %p
      %strong Who can participate?
    %p
      All CCFA Partners patient members are eligible for this study.
    %p
      %strong What would I have to do?
    %p
      Just by completing your regular Partners surveys every 6-months your data will be included in this particular research study.


    %hr/
    %br/
    %h4
      Depression as a Risk Factor for Exacerbation of Crohn’s disease: a Retrospective Cohort Study
    %p
      %strong Description:
    %p
      This study will look at how depression may be linked to exacerbation of Crohn’s disease symptoms.
    %p
      %strong Researcher:
    %p
      Dr. Lawrence S. Gaines from Vanderbilt University
    %p
      %strong Who can participate?
    %p
      All CCFA Partners patient members are eligible to participate in this study.
    %p
      %strong What would I have to do?
    %p
      Just by completing your regular Partners surveys every 6-months your data will be included in this particular research study.


    %hr/
    %br/
    %h4
      Symptom Clusters in Adults with Inflammatory Bowel Disease
    %p
      %strong Description:
    %p
      This study will look at common IBD symptoms (e.g., pain, fatigue, sleep disturbance, depression, and anxiety) and aim to better understand clusters of
      symptoms that appear in some patients.
    %p
      %strong Researcher:
    %p
      Samantha Conley School of Nursing at Yale University
    %p
      %strong Who can participate?
    %p
      Adult members of CCFA Partners with Ulcerative Colitis or Crohn’s disease who have completed at least two consecutive surveys.
    %p
      Note: Partners who are pregnant will not be eligible for this study. Partners who have had a total colectomy will also not be eligible.
    %p
      %strong What would I have to do?
    %p
      If you meet the eligibility criteria described above, the data you provide in your regular 6-month Partners surveys will automatically be included in this
      research study. You don’t have to do anything else.


    %hr/
    %br/
    %h4
      Psychological Factors Associated with Adherence to Oral Treatment in IBD
    %p
      %strong Description:
    %p
      This study aims to understand associations between psychological distress (i.e., depression, anxiety, and stress), motivation, and competence with
      adherence to oral anti-IBD therapy.
    %p
      %strong Researcher:
    %p
      Dr. Guy Weiss from the University of California, Los Angeles
    %p
      %strong Who can participate?
    %p
      All CCFA Partners patient members are eligible to participate in this study.
    %p
      %strong What would I have to do?
    %p
      Partners will be asked to complete an additional online survey at the end of their baseline and/or 6-month follow-up survey.
    %p
      Note: Only a select number of Partners will be offered the opportunity to complete this additional survey.


    %hr/
    %br/
    %h4
      Patients’ Attitudes and Preferences for Outcomes of Inflammatory Bowel Disease Therapeutics (P-POD)
    %p
      %strong Description:
    %p
      This study will look how patients value the risks and benefits of IBD therapy.
    %p
      %strong Researcher:
    %p
      Dr. James D. Lewis at the University of Pennsylvania
    %p
      %strong Who can participate?
    %p
      Adult members of CCFA Partners who have Crohn’s disease or Ulcerative Colitis without an ostomy or J-pouch
    %p
      %strong What would I have to do?
    %p
      Participants will be asked to complete an online survey about how you value different IBD therapies.
    %p
      Rare IBD Characteristics Study
    %p
      %strong Description:
    %p
      This study will look at how genes may be linked to the development of rare IBD characteristics: eye inflammation, arthritis of the spine, colon cancer, and
      skin ulceration.
    %p
      %strong Researcher:
    %p
      Dr. Balfour Sartor from UNC School of Medicine Dr. Dermot McGovern from Cedars-Sinai Medical Center
    %p
      %strong Who can participate?
    %p
      Individuals with inflammatory bowel diseases who have ever been diagnosed with eye inflammation (uveitis, scleritis, episcleritis), arthritis of the spine
      (ankylosing spondylitis), colon cancer, or skin ulceration (pyoderma gangrenosum) can participate.


    %hr/
    %br/
    %h4
      Food And Crohn’s Exacerbation Study (FACES)
    %p
      %strong Description:
    %p
      This research project is looking at the effect of different dietary patterns on the risk of relapse of Crohn’s Disease.
    %p
      %strong Researcher:
    %p
      Dr. James Lewis at the University of Pennsylvania
    %p
      %strong Who can participate?
    %p
      Individuals with Crohn’s disease that is in remission.
    %p
      %strong What would I have to do?
    %p
      If you choose to participate, you will be asked to consume a minimum of two servings of red meat each week. You will also complete short online surveys
      about your symptoms, medications, and diet at specific times during the study.
    %p
      %strong What would I have to do?
    %p
      Fill out a form with your doctor’s contact information and provide a small saliva sample via U.S. mail. You will be mailed the supplies you need to provide
      this sample.
    %p
      %strong


    %hr/
    %br/
    %p
      If you're interested in participating in any of these ongoing studies, contact us at
      %a{:href => "mailto:info@ccfapartners.org"}
        info@ccfapartners.org.
    %div{:align => "center"}
      %hr{:align => "center", :noshade => "", :size => "0", :width => "100%"}/
    %p
      %a{:href => "http://www.ccfa.org/research/participate-in-research/find-studies-and-clinical-trials/", :target => "_blank"} External Research Studies

  #affiliated_studies.tab-pane

    %h4
      Genetic and Environmental Risks for Inflammatory Bowel Disease Study
    %p
      %strong Description:
    %p
      This study is looking at genes and environmental factors, such as diet and gut bacteria, that may be associated with developing Crohn’s disease or
      ulcerative colitis.
    %p
      %strong Researcher:
    %p
      Dr. Ramnik Xavier and Dr. Deanna Nguyen at the MGH Crohn’s and Colitis Center
    %p
      %strong Who can participate?
    %p
      This study aims to recruit at least two first-degree family members (you and a parent, sibling, or offspring aged 7 years and older) with inflammatory
      bowel disease and at least one family member without any autoimmune diseases.
    %p
      %strong What would I have to do?
    %p
      Participants in this study will be asked to:
    %ul{:type => "disc"}
      %li
        provide a saliva or blood sample
      %li
        provide an optional urine and stool sample
      %li
        complete study related activities by phone, email, or postal service


    %hr/
    %br/
    %h4
      Defining the Genetic Architecture of Crohn’s Disease in the Ashkenazi Jewish Population
    %p
      %strong Description:
    %p
      This study will look how Ashkenazim specific genetic variants contribute to Crohn’s disease.
    %p
      %strong Researcher:
    %p
      Dr. Judy Cho at the Icahn School of Medicine at Mount Sinai, New York.
    %p
      %strong Who can participate?
    %p
      Adult members of CCFA Partners who report Ashkenazi Jewish ancestry
    %p
      %strong What would I have to do?
    %p
      Participants in this study will be asked to:
    %ul
      %li
        Provide a saliva sample
      %li
        Provide IBD-related medical and family history
    %p
      · Complete study-related activities by phone, email, or postal service.


    %hr/
    %br/
    %h4
      Patient-Valued Preferences for Risk and Effectiveness of Medical and Surgical Therapies in Ulcerative Colitis
    %p
      %strong Description:
    %p
      This study will look how a new patient-driven online educational tool influences patient perspectives on medical and surgical treatment options for
      patients with Ulcerative Colitis.
    %p
      %strong Researcher:
    %p
      Dr. Meenakshi Bewtra at the University of Pennsylvania
    %p
      %strong Who can participate?
    %p
      Adult members of CCFA Partners with Ulcerative Colitis.
    %p
      %strong What would I have to do?
    %p
      Participants in this study will be asked to complete an online questionnaire


    %hr/
    %br/
    %h4
      Multi-Center African American IBD Study (MAAIS)
    %p
      %strong Description:
    %p
      This study is looking at genes and environmental factors that may be associated with developing inflammatory bowel disease.
    %p
      %strong Researcher:
    %p
      Dr. Steven Brant from Johns Hopkins School of Medicine
    %p
      %strong Who can participate?
    %p
      Adult members of CCFA Partners who self-identify as being African American
    %p
      %strong What would I have to do?
    %p
      Participants in this study will be asked to sign a consent form, fill out a written questionnaire and contribute about 3 tablespoons of blood. Your spouse
      or friend that does not have IBD may also be eligible to join this study as a healthy volunteer. Compensation includes $40.00 for all participants for
      enrollment. An additional $10.00 referral fee may also be available.


    %hr/
    %br/
    %h4
      OTIS Autoimmune Diseases In Pregnancy Study
    %p
      %strong Description:
    %p
      The purpose of the study is to collect data on children born to mothers with inflammatory bowel disease. Researchers will evaluate the risk of birth
      defects in children of patients exposed to certain medications during pregnancy.
    %p
      %strong Researcher:
    %p
      Dr. Christina Chambers of University of California San Diego (UCSD)
    %p
      %strong Who can participate?
    %p
      Women diagnosed with Crohn’s disease or ulcerative colitis who are pregnant. Must have been pregnant for less than 20 weeks.
    %p
      %strong What would I have to do?
    %p
      If you choose to participate, you will undergo telephone interviews and provide medical records to researchers from the OTIS Registry. Children born to
      mothers who participate would be followed for up to 5 years for growth and development (with review of their medical records), including in-person
      examinations and testing in the first year and in the time period between 3.5 and 5 years.
      %strong

    %hr/
    %br/
    %p
      CCFA Partners will notify you via email if you qualify for any of the studies described here.