%hr/

.row
  .col-sm-2.small
    %a{:href => main_app.content_path(page: "about_partners")} About
    %br/
    %a{href: main_app.terms_of_service_path} Terms of Use
    %br/
    %a{href: main_app.privacy_policy_document_path} Privacy Policy
  .col-sm-2.small
    =link_to "Technical Support", "https://cgibd.med.unc.edu/ccfapartners/help/techhelp.php"
    %br/
    =link_to "Contact Us", contact_path
  .col-sm-4.small.text-center
    %strong Connect: 
    =link_to "http://www.facebook.com/ccfafb" do
      =image_tag "facebook.png", size: "32"
    =link_to "http://www.twitter.com/ccfa" do
      =image_tag "twitter.png", size: "32"
    =link_to "http://www.youtube.com/user/CCFA" do
      =image_tag "youtube.png", size: "32"
    =link_to "http://www.pinterest.com/ccfa" do
      =image_tag "pinterest.png", size: "32"

  .col-sm-4.small
    %span.pull-right
      =link_to main_app.content_path(page: "about_partners") do
        =image_tag "group-logo.png", width: "300"

%hr/
.row
  .col-xs-12.small.text-center
    Except where otherwise noted, content on this site is licensed under a
    %a{href: "http://creativecommons.org/licenses/by/4.0/", rel: "license"} Creative Commons Attribution 4.0 International license.