
.list-group
  %a.list-group-item{href: account_path, class: "#{"active" if action_name == "account"}"} My Settings
  %a.list-group-item{href: social_profile_path, class: "#{"active" if action_name == "social_profile"}"} Social Profile

-# Description of this section
%p.small Your account settings page enables you to control general settings on how you are involved in the site.
